autopep8==1.4.4
bottle==0.12.17
certifi==2019.6.16
chardet==3.0.4
Click==7.0
Flask==1.1.1
future==0.17.1
gunicorn==19.9.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
line-bot-sdk==1.12.1
MarkupSafe==1.1.1
pycodestyle==2.5.0
requests==2.22.0
urllib3==1.26.5
Werkzeug==0.15.5
